body {
  font-family: helvetica;
}

.container {
  display: flex;
}

header {
  height: 64px;
  padding: 0 24px;
  align-items: center;
}

.title {
  font-weight: bold;
}

header nav {
  flex-grow: 1;
  text-align: right;
}

header span { /*sign out adds too much?*/
  padding-right: 16px;
}

.main-banner {
  background-color: lightgray;
  display: flex;
}

.main-banner img {
  width: 60%;
  margin: 32px 24px;
}

.banner-text {
  display: flex;
  color: grey;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
}

.start-button {
  background-color: grey;
  color: white;
  padding: 8px 0px;
  width: 100%;
  text-align: center;
}

.learn-something {
  margin: 32px 24px;
}

.learn-something img {

}

.articles {
  margin-top: 32px;
}

.info {
  flex-direction: column;
  justify-content: center;
}

.articles img {
  width: 35%;
  height: auto;
  margin: 16px 16px;
}

.orientation, .campus, .lecture {
  display: flex;
  width: 65%;

}

.lecture {
 background-color: lightgrey;

}

.courses {
  display: flex;
  background-color: lightgrey;
  flex-wrap: wrap;
  padding-bottom: 32px;
  justify-content: space-between;
}

.start-learning {
  text-align: center;
  background-color: lightgrey;
  padding: 32px 0px;
}

.container .courses {
  background-color: lightgrey;
}

.course-box {
  background-color: white;
  padding-left: 16px;

}

.thesis {
  display: flex;
}

video {
  width: 60%;
}

.fisma {
  background-color: lightgrey;
}

footer {
  border-top: 1px solid lightgrey;
  padding-top: 16px;
  padding-left: 24px;
  align-items: center;
  color: grey;
}

.footlinks {
  text-align: right;
  flex-grow: 1;
}

.terms {
  padding-right: 16px;
}
.privacy {
  padding-right: 24px;
}
